<section class="container user-list">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let user of userService.users$ | async">
      <mat-card>
        <mat-card-title>
          {{user.name}} {{user.surname}}
        </mat-card-title>
        <img mat-card-image [src]="'https://www.gravatar.com/avatar/' + user.gravatarHash" alt="User avatar">
        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button routerLink="../profile/{{user.username}}" color="primary">{{'See profile'}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>