<section class="player-picker container">
  <div class="row">
    <div class="col-12 fx-col">

      <!-- USER SEARCH -->
      <header class="search fx-row">
        <mat-form-field class="user-search">
          <input type="text" placeholder="Search player..." aria-label="Search player" matInput
            [formControl]="playerSearchControl" [matAutocomplete]="playerSearch">

          <mat-autocomplete #playerSearch="matAutocomplete" [displayWith]="playerSearchDisplayFn">
            <mat-option class="player-search-option" *ngFor="let player of filteredPlayers$ | async" [value]="player">
              <img [src]="player.gravatarHash" [alt]="'Player avatar'">
              <div class="player-details">
                <div class="name">
                  {{player.name}} {{player.surname}}
                </div>
                <div class="username">
                  {{player.surname}}
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </header>

      <!-- USER LIST -->
      <section class="picked-users container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3" *ngFor="let player of selectedPlayers$ | async">
            <div class="user-box">
              <header class="fxrow fx-space-between">
                <div class="name">
                  {{player.name}} {{player.surname}}
                </div>
                <div class="remove">
                  <button mat-icon-button (click)="deletePlayer(player)">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </header>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>