<mat-sidenav-container class="example-container full-width full-height">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="full-width full-height" fxLayout="column">
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="/landing" style="cursor: pointer;">
          {{ 'Darts' }}
        </span>
      </mat-toolbar>
      <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        <div *ngFor="let e of events">{{e}}</div>
      </div> -->
      <!-- <div fxLayout="row" fxLayoutAlign="start stretch"> -->
      <div class="wrapper" fxFlex>
        <router-outlet></router-outlet>
      </div>
      <!-- </div> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>